/* Hero Section */
.container.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  gap: 5rem;
}
.hero-left {
  max-width: 36rem;
}
.hero-right {
  max-width: 40rem;
  width: 80%;
  margin: 0 auto;
}
.hero-heading {
  font-family: "Poppins";
  font-weight: 600;
  line-height: 1.4;
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  color: var(--black-1);
}
.hero-info {
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
  color: var(--black-2);
}
.button-wrapper {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .container.hero {
    flex-direction: row;
    gap: 0;
  }
  .hero-left {
    flex: 3;
  }
  .hero-right {
    flex: 4;
    max-width: none;
    width: 90%;
  }
  .hero-heading {
    font-size: 3.6rem;
    margin-bottom: 2rem;
    text-align: left;
  }
  .hero-info {
    margin-bottom: 2rem;
    text-align: left;
    font-size: 1.8rem;
  }
  .button-wrapper {
    text-align: left;
  }
}

/****************************************************************************/
/* Our Specials */
#our-specials {
  padding-top: 10rem;
}
.our-specials {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.our-specials-left {
  display: flex;
  gap: 1rem;
}
.our-specials-item {
  background-color: var(--lightGreen-1);
  padding: 1.2rem;
  padding-top: 5rem;
  border-radius: var(--medium);
  margin: 0 auto;
}
.our-specials-item-img {
  margin-top: calc(-50% - 2rem);
  height: 10rem;
  margin-bottom: 2rem;
  border-radius: var(--medium);
  height: 15rem;
  overflow: hidden;
}
.our-specials-item-img img {
  object-fit: cover;
}
.our-specials-item-title {
  font-size: 1.4rem;
  color: var(--black-1);
  font-weight: 600;
  margin-bottom: 1rem;
}
.our-specials-item-price {
  color: var(--green-1);
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.our-specials-item-rating {
  height: 1.5rem;
  width: max-content;
  margin-bottom: 1rem;
}
.our-specials-item-desc {
  font-size: 1.4rem;
  color: var(--black-2);
  font-weight: 500;
}
.our-specials-title {
  font-size: 1.8rem;
  color: var(--black-1);
  margin-bottom: 1.5rem;
}
.our-specials-text {
  font-size: 1.4rem;
  color: var(--black-2);
  margin-bottom: 1rem;
}

@media only screen and (min-width: 768px) {
  #our-specials {
    padding-top: 15rem;
  }
  .our-specials {
    max-width: 90rem;
    flex-direction: row;
  }
  .our-specials-left {
    flex: 4;
    gap: 2rem;
  }
  .our-specials-item {
    padding: 2rem;
    width: 45%;
  }
  .our-specials-item-img img {
    background-color: red;
    width: 100%;
  }
  .our-specials-item-title {
    font-size: 2.4rem;
    line-height: 1.4;
    margin-bottom: 1.5rem;
  }
  .our-specials-item-price {
    font-size: 1.8rem;
  }
  .our-specials-item-rating {
    margin-bottom: 2rem;
  }
  .our-specials-item-desc {
    font-size: 1.8rem;
  }
  .our-specials-right {
    flex: 2;
  }
  .our-specials-title {
    font-size: 3.6rem;
    margin-bottom: 1.5em;
  }
  .our-specials-desc {
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
  }
}

@media only screen and (max-width: 300px) {
  .our-specials-left {
    flex-wrap: wrap;
    gap: 10rem;
  }
}

/****************************************************************************/
/* Discount Dishes */
.discount-wrapper {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  border-radius: var(--medium);
  background: var(--lightGreen-1) url(../images/discount-illustration.png)
    no-repeat bottom right / 10rem;
}
.discount-images {
  display: flex;
  gap: 1rem;
  width: 100%;
  margin-bottom: 2rem;
}
.discount-img-1 {
  flex: 2;
}
.discount-img-2 {
  flex: 3;
}
.discount-images img {
  object-fit: cover;
  border-radius: var(--small);
  height: 100%;
}
.discount-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.discount-title-p {
  font-size: 1.4rem;
  font-weight: 900;
  color: var(--green-1);
  margin-bottom: 0.5rem;
}
.discount-title {
  font-size: 1.8rem;
  color: var(--black-1);
  font-weight: 600;
  margin-bottom: 1rem;
}
.discount-price {
  font-size: 1.4rem;
  font-weight: 600;
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}
.discount-price-old {
  color: var(--black-2);
  text-decoration: line-through;
}
.discount-price-new {
  color: var(--green-1);
}
.discount-rating {
  height: 1.5rem;
  width: max-content;
  margin-bottom: 1rem;
}

@media only screen and (min-width: 768px) {
  .discount-wrapper {
    flex-direction: row;
    gap: 4rem;
    padding: 2rem;
    align-items: center;
    background-size: 15rem;
    margin: 0 auto;
  }
  .discount-images {
    flex: 5;
    margin-bottom: 0;
  }
  .discount-img-1,
  .discount-img-2,
  .discount-img-3 {
    flex: 1;
    height: 35rem;
  }
  .discount-info {
    flex: 3;
  }
  .discount-title-p {
    font-size: 2.4rem;
  }
  .discount-title {
    font-size: 3.6rem;
    margin-bottom: 1.5rem;
  }
  .discount-price {
    font-size: 2.4rem;
  }
  .discount-rating {
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 1000px) {
  .discount-wrapper {
    gap: 2rem;
  }
  .discount-img-3 {
    display: none;
  }
}
