/* Hero Section */
.container.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  gap: 5rem;
}
.hero-left {
  max-width: 36rem;
}
.hero-right {
  max-width: 40rem;
  width: 80%;
  margin: 0 auto;
}
.hero-heading {
  font-family: "Poppins";
  font-weight: 600;
  line-height: 1.4;
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  color: var(--black-1);
}
.hero-info {
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
  color: var(--black-2);
}
.button-wrapper {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .container.hero {
    flex-direction: row;
    gap: 0;
  }
  .hero-left {
    flex: 3;
  }
  .hero-right {
    flex: 4;
    max-width: none;
    width: 90%;
  }
  .hero-heading {
    font-size: 3.6rem;
    margin-bottom: 2rem;
    text-align: left;
  }
  .hero-info {
    margin-bottom: 2rem;
    text-align: left;
    font-size: 1.8rem;
  }
  .button-wrapper {
    text-align: left;
  }
}

/****************************************************************************/
/* Our Specials */
#our-specials {
  padding-top: 10rem;
}
.our-specials {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.our-specials-left {
  display: flex;
  gap: 1rem;
}
.our-specials-item {
  background-color: var(--lightGreen-1);
  padding: 1.2rem;
  padding-top: 5rem;
  border-radius: var(--medium);
  margin: 0 auto;
}
.our-specials-item-img {
  margin-top: calc(-50% - 2rem);
  height: 10rem;
  margin-bottom: 2rem;
  border-radius: var(--medium);
  height: 15rem;
  overflow: hidden;
}
.our-specials-item-img img {
  object-fit: cover;
}
.our-specials-item-title {
  font-size: 1.4rem;
  color: var(--black-1);
  font-weight: 600;
  margin-bottom: 1rem;
}
.our-specials-item-price {
  color: var(--green-1);
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.our-specials-item-rating {
  height: 1.5rem;
  width: max-content;
  margin-bottom: 1rem;
}
.our-specials-item-desc {
  font-size: 1.4rem;
  color: var(--black-2);
  font-weight: 500;
}
.our-specials-title {
  font-size: 1.8rem;
  color: var(--black-1);
  margin-bottom: 1.5rem;
}
.our-specials-text {
  font-size: 1.4rem;
  color: var(--black-2);
  margin-bottom: 1rem;
}

@media only screen and (min-width: 768px) {
  #our-specials {
    padding-top: 15rem;
  }
  .our-specials {
    max-width: 90rem;
    flex-direction: row;
  }
  .our-specials-left {
    flex: 4;
    gap: 2rem;
  }
  .our-specials-item {
    padding: 2rem;
    width: 45%;
  }
  .our-specials-item-img img {
    background-color: red;
    width: 100%;
  }
  .our-specials-item-title {
    font-size: 2.4rem;
    line-height: 1.4;
    margin-bottom: 1.5rem;
  }
  .our-specials-item-price {
    font-size: 1.8rem;
  }
  .our-specials-item-rating {
    margin-bottom: 2rem;
  }
  .our-specials-item-desc {
    font-size: 1.8rem;
  }
  .our-specials-right {
    flex: 2;
  }
  .our-specials-title {
    font-size: 3.6rem;
    margin-bottom: 1.5em;
  }
  .our-specials-desc {
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
  }
}

@media only screen and (max-width: 300px) {
  .our-specials-left {
    flex-wrap: wrap;
    gap: 10rem;
  }
}

/****************************************************************************/
/* Discount Dishes */
.discount-wrapper {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  border-radius: var(--medium);
  background: var(--lightGreen-1) url(../images/discount-illustration.png)
    no-repeat bottom right / 10rem;
}
.discount-images {
  display: flex;
  gap: 1rem;
  width: 100%;
  margin-bottom: 2rem;
}
.discount-img-1 {
  flex: 2;
}
.discount-img-2 {
  flex: 3;
}
.discount-images img {
  object-fit: cover;
  border-radius: var(--small);
  height: 100%;
}
.discount-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.discount-title-p {
  font-size: 1.4rem;
  font-weight: 900;
  color: var(--green-1);
  margin-bottom: 0.5rem;
}
.discount-title {
  font-size: 1.8rem;
  color: var(--black-1);
  font-weight: 600;
  margin-bottom: 1rem;
}
.discount-price {
  font-size: 1.4rem;
  font-weight: 600;
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}
.discount-price-old {
  color: var(--black-2);
  text-decoration: line-through;
}
.discount-price-new {
  color: var(--green-1);
}
.discount-rating {
  height: 1.5rem;
  width: max-content;
  margin-bottom: 1rem;
}

@media only screen and (min-width: 768px) {
  .discount-wrapper {
    flex-direction: row;
    gap: 4rem;
    padding: 2rem;
    align-items: center;
    background-size: 15rem;
    margin: 0 auto;
  }
  .discount-images {
    flex: 5;
    margin-bottom: 0;
  }
  .discount-img-1,
  .discount-img-2,
  .discount-img-3 {
    flex: 1;
    height: 35rem;
  }
  .discount-info {
    flex: 3;
  }
  .discount-title-p {
    font-size: 2.4rem;
  }
  .discount-title {
    font-size: 3.6rem;
    margin-bottom: 1.5rem;
  }
  .discount-price {
    font-size: 2.4rem;
  }
  .discount-rating {
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 1000px) {
  .discount-wrapper {
    gap: 2rem;
  }
  .discount-img-3 {
    display: none;
  }
}

/****************************************************************************/
/* Events */
.events-media-wrapper {
  display: flex;
  gap: 1rem;
}
.events-media-1 {
  position: relative;
}
.events-media-1-play-btn {
  /* centers icon to center of the container */
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  max-width: 5rem;
}
#events-info {
  padding-top: 0;
}
.events-info-wrapper {
  display: flex;
  flex-direction: column;
}
.events-info-item {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  background-color: var(--lightGreen-1);
  margin-bottom: 1rem;
  border-radius: var(--small);
}
.events-info-item-img {
  border-radius: var(--small);
  overflow: hidden;
  flex: 3;
}
.events-info-item-img img {
  height: 100%;
  object-fit: cover;
}
.events-info-item-info {
  flex: 4;
}
.events-info-item-title {
  font-size: 1.4rem;
  margin-bottom: 1rem;
  color: var(--black-1);
}
.events-info-item-text {
  font-size: 1.4rem;
  color: var(--black-2);
}
.events-info-right {
  margin-top: 2rem;
}
.events-info-title {
  font-size: 1.8rem;
  color: var(--black-1);
  margin-bottom: 1rem;
}
.events-info-text {
  color: var(--black-2);
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

@media only screen and (min-width: 768px) {
  .events-media-wrapper {
    gap: 2rem;
  }
  .events-media-1-play-btn {
    max-width: 10rem;
  }
  .events-info-wrapper {
    flex-direction: row;
    gap: 2rem;
  }
  .events-info-left,
  .events-info-right {
    flex: 1;
  }
  .events-info-item {
    padding: 1.5rem;
    gap: 1.5rem;
    max-width: 50rem;
  }
  .events-info-item-title {
    font-size: 1.8rem;
  }
  .events-info-item-text {
    font-size: 1.6rem;
  }
  .events-info-title {
    font-size: 3.6rem;
  }
  .events-info-text {
    max-width: 50rem;
    font-size: 1.6rem;
  }
}

/****************************************************************************/
/* Why Us */
.why-us-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}
.why-us-left {
  text-align: center;
}
.why-us-title {
  font-family: "Poppins";
  font-size: 1.8rem;
  color: var(--black-1);
  margin-bottom: 1rem;
}
.why-us-text {
  font-size: 1.4rem;
}
.why-us-right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.why-us-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--lightGreen-1);
  border-radius: var(--medium);
  padding: 2rem;
  text-align: center;
}
.why-us-item img {
  max-width: 5.6rem;
  margin-bottom: 1rem;
}
.why-us-item-text {
  font-size: 1.4rem;
  font-family: "Poppins";
  color: var(--black-1);
}

@media only screen and (min-width: 768px) {
  .why-us-wrapper {
    flex-direction: row;
    max-width: 90rem;
    margin: 0 auto;
  }
  .why-us-left {
    flex: 4;
    text-align: left;
  }
  .why-us-right {
    flex: 3;
  }
  .why-us-title {
    font-size: 3.6rem;
    margin-bottom: 2rem;
  }
  .why-us-text {
    font-size: 1.6rem;
  }
  .why-us-right {
    gap: 1.5rem;
  }
  .why-us-item img {
    max-width: 6.5rem;
  }
  .why-us-item-text {
    font-size: 1.8rem;
  }
}

/****************************************************************************/
/* Testimonials */
.testimonials-wrapper {
  max-width: 40rem;
  margin: 0 auto;
}
.testimonials-title {
  font-size: 1.8rem;
  margin-bottom: 3rem;
  text-align: center;
  color: var(--black-1);
}
.testimonials-items {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
.testimonial-item {
  display: flex;
  padding: 1rem;
  gap: 1rem;
  background-color: var(--lightGreen-1);
  border-radius: var(--small);
}
.testimonial-item-info {
  flex: 4;
}
.testimonial-item img {
  flex: 2;
  border-radius: var(--small);
}
.testimonial-item-name {
  font-size: 1.4rem;
  font-family: "Poppins";
  margin-bottom: 1rem;
  color: var(--black-1);
}
.testimonial-item-info img {
  max-height: 1.5rem;
  width: max-content;
  margin-bottom: 1.5rem;
}
.testimonial-item-text {
  font-size: 1.4rem;
}

@media only screen and (min-width: 768px) {
  .testimonials-wrapper {
    max-width: 90rem;
  }
  .testimonials-title {
    font-size: 3.6rem;
    margin-bottom: 5rem;
  }
  .testimonials-items {
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
  }
  .testimonial-item {
    padding: 1.5rem;
  }
  .testimonial-item-name {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
  }
  .testimonial-item-info img {
    margin-bottom: 2rem;
  }
  .testimonial-item-text {
    font-size: 1.6rem;
  }
}
@media only screen and (max-width: 350px) {
  .testimonial-item {
    flex-direction: column;
  }
  .testimonial-item img,
  .testimonial-item-info {
    flex: 1;
  }
}

/****************************************************************************/
/* Newsletter */
.newsletter-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--green-2);
  padding: 1.5rem;
  border-radius: var(--medium);
}
.newsletter-title {
  font-size: 1.8rem;
  color: var(--black-1);
  font-weight: 600;
  margin-bottom: 1.3rem;
}
.newsletter-text {
  font-size: 1.4rem;
  color: var(--black-2);
}
.newsletter-form {
  position: relative;
  overflow: hidden;
  width: 100%;
  border-radius: var(--small);
}
.newsletter-form label {
  width: 100%;
}
.newsletter-form input {
  border-radius: var(--small);
  border: none;
  padding: 1.5rem 1rem;
  width: 100%;
}
.newsletter-form input::placeholder {
  color: rgb(166, 166, 166);
}
.newsletter-form button[type="submit"] {
  background-color: var(--green-1);
  color: var(--white-1);
  font-size: 1.4rem;
  padding: 0 2rem;
  border-radius: 0 var(--small) var(--small) 0;
  border: none;

  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}
@media only screen and (min-width: 768px) {
  .newsletter-wrapper {
    flex-direction: row;
    padding: 5rem;
    align-items: center;
  }
  .newsletter-info,
  .newsletter-form {
    flex: 1;
  }
  .newsletter-title {
    font-size: 3.6rem;
    margin-bottom: 2rem;
  }
  .newsletter-text {
    font-size: 1.8rem;
    max-width: 40rem;
  }
  .newsletter-form {
    max-width: 45rem;
    border-radius: var(--medium);
  }
  .newsletter-form input {
    font-size: 1.6rem;
    padding: 2rem;
  }
  .newsletter-form button[type="submit"] {
    font-size: 1.8rem;
    padding: 0 3rem;
  }
}
